/*------------------------------------*\
  Components > Social Navigation
\*------------------------------------*/

.c-social-nav {
  &__item {
    display: inline-block;

    a:hover, a:active, a:visited {
      text-decoration: none;
    }
  }

  &__icon {
    fill: $color-text;
    vertical-align: middle;
    transition: $global-transition;

    @include attention() {
      fill: $color-brand;
    }
  }
}